// Background
@header-background: "http://1.bp.blogspot.com/-nFqeXogx8K4/UG7NZUNsbBI/AAAAAAAABMQ/0WAQBX8GQgo/s1600/tumblr_m90vleEPB91rx771wo1_1280.png";
@navbar-background: #222;
@footer-background: #111;

// Colores
@color-principal: #41B265;
@color-secundario: #C64D3E;
@color-peligro: #C64D3E;
@color-gris: #888;
// Fuente
@fuente-familia: "Open Sans",sans-serif,arial;
@fuente-color: #333;
@fuente-color-secundario: #5a5a5a;

// Link
@link-color: #67A1B8; //#10A7FF
